



body{
	background-color: powderblue;
}

.font1{
	color: red;
	font-size: 48px;
	font-family: Arial;
	padding-left: 10px;
	margin: 20px;
}



.font2{
	color: green;
	font-size: 48px;
	font-family: Comic Sans MS;
	padding-left: 10px;
	margin: 20px;

}


























